name: Webami Build

on:
  push:
    branches: [ main, build-improvements ]
    paths-ignore: 
      - '*.md'
  pull_request:
    branches: [ main ]
    paths-ignore: 
      - '*.md'
jobs:

  build-linux:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -race -coverprofile=coverage.txt -covermode=atomic
    
    - name: Codecov
      run: bash <(curl -s https://codecov.io/bash)
  
  build-windows:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v2 

    - name: Set up Go 
      uses: actions/setup-go@v2 
      with:
        go-version: 1.16
      
    - name: Build 
      run: go build -v ./... 

    - name: Test 
      run: go test -race 